@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: skyblue;
}

header{
    margin: auto;
    text-align: center;
    padding: 23px;
}

.input{
    margin:auto ;
    width: 200px;
    height: 40;
}
.texto{
    display: inline-block;
    width: 200px;
    height: 40;
    text-align: center;
}

.botao{
    display: inline-block;
}


