@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: skyblue;
}

header{
    margin: auto;
    text-align: center;
    padding: 23px;
}
.input{
    display: inline-block;
}
.pai{
   position: relative;
   margin: auto;
}
.texto{
    text-align: center;
}

